<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="Niyonkuru Moise" name="description">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collector</title>
    
    <!-- Favicon -->
    <link href="./img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{url_for('static', filename='/dashboard/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <!-- {{url_for('static', filename='')}} -->
    <!-- <link href="../static/dashboard/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{url_for('static', filename='/dashboard/css/bootstrap.min.css')}}" rel="stylesheet"> 
    <!-- Template Stylesheet -->
    <link href="{{url_for('static', filename='/dashboard/css/style.css')}}" rel="stylesheet">
    <!-- <script>
        const token = {{token}}
    </script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    </script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
</head>

<body>
    
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">SAHMAS</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <i class="fa fa-user fa-2x"></i>
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Moise Niyonkuru</h6>
                        <span>Collector</span>
                    </div>
                </div>
                <!-- <div class="navbar-nav w-100">
                    
                </div>
                <div class="nav-item dropdown">
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-upload me-2"></i>Upload File</a>
                </div> -->
                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Home</a>
                    
                    <a href="/dt-form" class="nav-item nav-link"><i class="fa fa-wpforms me-2"></i>Form</a>
                    <a href="#" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Dataset</a>
                    <a href="#" class="nav-item nav-link"><i class="fa fa-upload me-2"></i>Upload File</a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-user fa-2x"></i>
                            <span class="d-none d-lg-inline-flex">Niyonkuru Moise</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            
            

            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-8 ">
                        <h1>File Upload</h1>
                        <div class="bg-light text-center rounded p-4">
                           <!-- data upload space -->
                           <form action = "/uploader" method = "POST"
                           enctype = "multipart/form-data"
                              >
                             <input type = "file" name = "file" />
                             <input type = "submit" class="btn btn-success"/>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12 ">
                        <h1>View file</h1>
                        <div class="text-left">
                            <form>
                                <select class="p-2 bg-gra-02"  name="filename" id="filename">
                                    {%for name in filenames:%}
                                        <option>{{name| safe}}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-warning" type="button" id="viewData">View Data</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


           
            

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">SAHMAS</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">Niyonkuru Moise</a>
                        </br>
                        <!-- Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/chart/chart.min.js')}}"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/tempusdominus/js/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script src="{{url_for('static', filename='/dashboard/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>

    <!-- Template Javascript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    </script>
    
    <script src="{{url_for('static', filename='/dashboard/js/main.js')}}"></script>
    <script>
        var viewData = document.getElementById('viewData')
        viewData.addEventListener('click', function(){
            console.log('hello world')
            var filename = document.getElementById('filename').value
            location.href = '/view/'+filename
        })
    </script>
</body>

</html>
